/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700 */

/* .fredoka-<uniquifier> {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Fredoka", sans-serif;
}

header{
    border: solid red 1px;
    background-color: rgb(145, 145, 145);
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 20px;
}

.nav-list li{
    list-style: none;
    margin-left: 30px;
}

.nav-list li a{
    text-decoration: none;
    color: black;
}

.nav-list li a:hover{
    color: white;
    transition: 0.4s;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao{
    margin-top: 15%;
}
.foto img{
    width: 300px;
    border-radius: 120px;
}

.sobre h2{
    text-align: center;
}